div.card.blue-grey {
  margin: 10px 10px;

  input[type='number'] {
    font-size: 32px;
    color: white;
  }

  .card-action {
    padding-bottom: 0;
  }

  .add-button {
    margin-top: 20px;
    width: 100%;
  }
}